<% @shortened.errors.full_messages.each do |message| %>
  <p><%= message %></p>
<% end %>

<%= form_with(url: "/short_urls") do |form| %>
  <div>
    <%= form.label :url %>
    <%= form.text_field :url, :placeholder => "Enter a valid url" %>
  </div>

  <br/>
  <div class="actions">
    <%= form.submit 'Create Short URL' %>
  </div>
<% end %>